{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>Registration | AsmrProg</title>
</head>

<body>

    <div class="logo">
        <img src="logo.png">
        <a href="#">AsmrProg</a>
    </div>

    <div class="container">
        <h1>Create an account 🚀</h1>
        <div class="social-login">
            <button class="google">
                <i class='bx bxl-google'></i>
                Sign up with Google
            </button>
            <button class="apple">
                <i class='bx bxl-apple'></i>
                Sign up with Apple
            </button>
        </div>
        <div class="divider">
            <div class="line"></div>
            <p>Or</p>
            <div class="line"></div>
        </div>

        <form method='post' id='registrationForm'>
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            <div class='custome-input'>
            {{ form.username }}
            </div>

            <label for="{{ form.password.id_for_label }}">Password:</label>
            <div class='custome-input'>
            {{ form.password }}
            </div>
            
            <label for="{{ form.email.id_for_label }}">Email:</label>
            <div class='custome-input'>
            {{ form.email }}
            </div>
            <button type="submit" class="login">Register</button>
            <div class="links">
                <a href="">Forgot Password?</a>
                <a href="">Already have an account?</a>
            </div>
        </form>
        <script>
            document.getElementById('registrationForm').addEventListener('submit', function (event) {
                event.preventDefault();  // Отменяем стандартное поведение формы
                var formData = new FormData(this);
        
                // Отправляем запрос на создание пользователя
                fetch('http://localhost:8000/api/auth/users/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    console.log('Ответ сервера:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Данные от сервера:', data);
                    if (data.id) {
                        // Перенаправляем пользователя на страницу авторизации после успешной регистрации
                        window.location.href = 'http://localhost:8000/api/login/';
                    } else {
                        console.error('Ошибка валидации формы:', data.message || 'Неопределенная ошибка');
                    }
                })
                .catch(error => console.error('Произошла ошибка:', error));
            });
        </script>
    </div>

</body>

</html>